@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sky-lighter: #f9fafb;
  --sky-light: #f4f6f8;
  --sky: #dfe3e8;
  --sky-dark: #c4cdd5;
  --ink-lightest: #919eab;
  --ink-lighter: #637381;
  --ink-light: #3d4754;
  --ink: #192029;
  --blue-lighter: #e5eeff;
  --blue-light: #b2cdff;
  --blue: #1161fb;
  --blue-dark: #0439cc;
  --blue-darker: #001640;
  --red-lighter: #ffe5e6;
  --red-light: #ffa6a8;
  --red: #ef3136;
  --red-dark: #bf0005;
  --red-darker: #400002;
  --green: #27cc6a;
  --yellow: #fdba2c;
  --white: #ffffff;
}

dialog::backdrop {
  background-color: #192029;
  opacity: 0.7;
}

dialog {
  border: none !important;
  padding: 0;
  max-width: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
}
