mixin section-buttons
  +section-container('Buttons')
    p(class="mb-4 -mt-3 text-sm italic text-ink-lighter") TODO: Add variant with leading icon

    div
      +heading(size=5) Kind: Primary
        div(class="flex flex-wrap gap-4 mt-2")
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='primary' size='lg' as="a" href="https://practio.com") Large primary
            +button(kind='primary' size='lg' disabled) Large primary
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='primary' size='md') Medium primary
            +button(kind='primary' size='md' disabled) Medium primary
            
    div(class="mt-8")
      +heading(size=5) Kind: Secondary
        div(class="flex flex-wrap gap-4 mt-2")
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='secondary' size='lg') Large secondary
            +button(kind='secondary' size='lg' disabled) Large secondary
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='secondary' size='md') Medium secondary
            +button(kind='secondary' size='md' disabled) Medium secondary

    div(class="mt-8")
      +heading(size=5) Kind: Ghost
        div(class="flex flex-wrap gap-4 mt-2")
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='ghost' size='lg') Large ghost
            +button(kind='ghost' size='lg' disabled) Large ghost
          div(class="flex flex-wrap w-full gap-4")
            +button(kind='ghost' size='md') Medium ghost
            +button(kind='ghost' size='md' disabled) Medium ghost
