mixin section-forms
  +section-container('Form')
    +form
      +text-input-field(label="Name" name="name" id="name")
      +email-input-field(label="Email" name="email" id="email")
      +select-field(label="City" name="city" id="city")
        +option(value="berlin")= Berlin
        +option(value="copenhagen")= Copenhagen
        +option(value="london")= London
      +fieldset
        +fieldset-heading Size
          +stack(gap="1")
            +radio-input-field(label="Small" name="size" id="size_small" value="small")
            +radio-input-field(label="Medium" name="size" id="size_medium" value="medium")
            +radio-input-field(label="Large" name="size" id="size_large" value="large")
      +fieldset
        +fieldset-heading Color
          +stack(gap="1")
            +checkbox-input-field(label="Red" name="color" id="color_red" value="red")
            +checkbox-input-field(label="Green" name="color" id="color_green" value="green")
            +checkbox-input-field(label="Blue" name="color" id="color_blue" value="blue" description="Description for Blue")