mixin section-menu
  +section-container('Menu')
    p(class="mb-4 text-sm italic text-ink-lighter") TODO: Smarten up the menu items
    +menu
      +menu-item(href="#menu-item") Menu item 1
      +menu-item(href="#menu-item") Menu item 2
      +menu-item(href="#menu-item") Menu item 3
      +menu-divider
      +menu-item(href="#menu-item") Menu item 4
      +menu-item(href="#menu-item") Menu item 5
      +menu-divider
      +menu-heading Heading
      +menu-item(href="#menu-item") Menu item 4
      +menu-item(href="#menu-item") Menu item 5