mixin section-shadows
  +section-container('Shadows')
    div(class="flex flex-col gap-6 p-8 text-sm font-normal text-center rounded-lg bg-sky-light")
      div(class="p-4 bg-white rounded-md shadow-sm") shadow-sm
      div(class="p-4 bg-white rounded-md shadow") shadow
      div(class="p-4 bg-white rounded-md shadow-md") shadow-md
      div(class="p-4 bg-white rounded-md shadow-lg") shadow-lg
