mixin section-spacings
  +section-container('Spacing scale')
    ul(class="flex flex-col gap-2 text-sm font-normal") 

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-0 (0px)
        span(class="w-0 h-full bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-1 (4px)
        div(class="w-1 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-2 (8px)
        div(class="w-2 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-3 (12px)
        div(class="w-3 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-4 (16px)
        div(class="w-4 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-5 (20px)
        div(class="w-5 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-6 (24px)
        div(class="w-6 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-8 (32px)
        div(class="w-8 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-12 (48px)
        div(class="w-12 h-4 rounded bg-blue")

      li(class="flex items-center gap-4")
        span(style="width:130px;") spacing-16 (64px)
        div(class="w-16 h-4 rounded bg-blue")

      li(class="flex items-center gap-4") 
        span(style="width:130px;") spacing-24 (96px)
        div(class="w-24 h-4 rounded bg-blue")

      li(class="flex items-center gap-4") 
        span(style="width:130px;") spacing-32 (128px)
        div(class="w-32 h-4 rounded bg-blue")
