mixin section-spacings
  +section-container('Spacing scale')
    ul(class="flex flex-col gap-2") 
      - 
        const spacings = {
          'w-0': '0',
          'w-1': '4',
          'w-2': '8',
          'w-3': '12',
          'w-4': '16',
          'w-5': '20',
          'w-6': '24',
          'w-8': '32',
          'w-12': '48',
          'w-16': '64',
          'w-24': '96',
          'w-32': '128'
        } 
        
      each val, key in spacings 
        li(class="flex items-center gap-4 text-sm font-normal")
          span(class="w-[150px]")= `spacing-${key.substring(2)} (${val}px)`
          span(class=`${key} h-4 bg-blue rounded`)