include ./../components/table.pug

mixin section-tables
  +section-container('Tables')
    p(class="mb-4 -mt-3 text-sm italic text-ink-lighter") TODO: Smarten up the row items

    div(class="p-8 text-sm rounded-lg bg-sky-light")
      +table
