mixin avatar 
  div(class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold leading-none text-white rounded-full hover:-hue-rotate-15 bg-gradient-to-tl from-alert to-warning")
    block