mixin button
  -
    const { size = 'md', kind = 'secondary', as = 'button' } = attributes;

    const classes = [
      'btn',
      `btn-${size}`,
      `btn-${kind}`
    ];

  #{as}(class=classes)&attributes(attributes)
    block
