mixin stack
  - const { direction = "vertical" } = attributes;
  - const { gap = "4" } = attributes;
  
  case direction
    when "vertical"
      div(class=`flex flex-col gap-y-${gap}`)&attributes(attributes)
        block
    when "horizontal"
      div(class=`flex gap-x-${gap}`)&attributes(attributes)
        block