include _element.pug

mixin button(tagName = "button")
  -
    const { size = 'medium', kind = 'primary', ...attrs } = attributes;

    const base = [
      'border-transparent',
      'border',
      'disabled:cursor-not-allowed',
      // 'focus:outline-none',
      // 'focus:ring-2',
      // 'focus:ring-blue',
      // 'focus:ring-offset-2',
      'font-semibold',
      'inline-flex',
      'items-center',
      'justify-center',
      'rounded-md',
      'text-center',
      'tracking-wide',
      'transition'
    ];

    const sizes = {
      medium: [
        'h-8',
        'px-3',
        'text-xs'
      ],
      large: [
        'h-12',
        'px-5',
        'text-base'
      ]
    };

    const kinds = {
      primary: [
        'bg-blue',
        'disabled:bg-blue-light',
        'hover:bg-blue-dark',
        'text-white'
      ],
      secondary: [
        'disabled:bg-sky-light',
        'disabled:text-ink-lightest',
        'hover:bg-blue-lighter',
        'hover:text-blue',
        'text-ink bg-sky-light'
      ],
      ghost: [
        'bg-transparent',
        'disabled:hover:bg-transparent',
        'disabled:text-ink-lightest',
        'hover:bg-blue-lighter',
        'hover:text-blue',
        'text-ink'
      ],
      critical: [
        'bg-red',
        'disabled:bg-red-light',
        'hover:bg-red-dark',
        'text-white'
      ]
    };

    const classNames = [...base, ...kinds[kind], ...sizes[size]].sort();

  +element(tagName)(class=classNames)&attributes(attrs)
    block

mixin linkButton
  +button("a")&attributes(attributes)
    block
