include _element.pug

mixin container(tagName = "div")
  -
    const classNames = [
      'container',
      'mx-auto',
      'py-8',
      'sm:py-16'
    ];

  +element(tagName)(class=classNames)&attributes(attributes)
    block

mixin narrowContainer(tagName = "div")
  - const style = 'max-width: 552px';

  +container(tagName)(style=style)&attributes(attributes)
    block