mixin menu
  ul(class="inline-block py-1 bg-white border rounded-md shadow-md border-sky-light")
    block 

mixin menu-item
  li
    a(class="block px-3 py-2 mx-1 text-sm text-left rounded-md hover:bg-sky-light active:bg-sky focus:bg-sky-light")&attributes(attributes)
      block

mixin menu-divider 
  li 
    hr(class="my-1 border-bottom border-sky")

mixin menu-heading
  li 
    h6(class="mx-4 mt-3 mb-0.5 text-xs font-semibold tracking-wide text-ink-lighter")
      block