
mixin table
  .overflow-x-auto.rounded-lg.shadow-md
    .inline-block.min-w-full.align-middle
      .overflow-hidden
        table.min-w-full.divide-y.divide-sky&attributes(attributes)
          block

mixin thead
  thead.bg-sky-lighter&attributes(attributes)
    block

mixin tbody
  tbody.w-full.bg-white.divide-y.divide-sky&attributes(attributes)
    block

mixin tr
  tr&attributes(attributes)
    block

mixin td
  td.px-6.py-4.text-sm.leading-none.min-w-max.text-ink.whitespace-nowrap.tracking-tight.tabular-nums&attributes(attributes)
    block

mixin th
  th.px-6.py-3.text-xs.font-semibold.tracking-wider.text-left.uppercase.min-w-max.text-ink-lighter(scope="col")&attributes(attributes)
    block
