
mixin descriptionList
  dl&attributes(attributes)
    block

mixin descriptionTerm
  dt.text-sm.text-ink-lighter.font-medium.mb-1&attributes(attributes)
    block

mixin descriptionDetails
  dd.text-sm.text-ink.mb-4&attributes(attributes)
    block
