mixin menu
  -
    const { hidden = true, ...attrs } = attributes;

    const menu = {
      default: {
        classNames: [
          'py-1',
          'bg-white',
          'border',
          'rounded-md',
          'shadow-md',
          'border-sky-light',
        ],
      },
      hidden: {
        classNames: [
          'hidden',
        ],
      },
    };

    let classNames = [ ...menu.default.classNames ];

    if (hidden) {
      classNames = [ ...classNames, ...menu.hidden.classNames ];
    }

  ul(class=classNames role="menu")&attributes(attrs)
    block 

mixin menuDivider
  li 
    hr(class="my-1 border-bottom border-sky pointer-events-none")&attributes(attributes)

mixin menuHeading
  li 
    h6(class="mx-4 mt-3 mb-1 text-xs font-semibold tracking-wide text-ink-lighter pointer-events-none")&attributes(attributes)
      block

mixin menuLink
  li
    +link(class="flex gap-x-2 items-center px-3 py-2 mx-1 text-sm text-left rounded-md hover:bg-sky-light active:bg-sky focus:bg-sky-light")&attributes(attributes)
      block
