
mixin table
  table.table-auto.w-full.divide-y.divide-sky&attributes(attributes)
    block

mixin thead
  thead&attributes(attributes)
    block

mixin tbody
  tbody&attributes(attributes)
    block

mixin tr
  tr(class="group")&attributes(attributes)
    block

mixin td
  td.h-12.px-8.py-0.items-center.text-sm.leading-none.min-w-max.text-ink.whitespace-nowrap.tracking-tight.tabular-nums(class="first:rounded-l-lg first:pl-4 last:rounded-r-lg last:pr-4 group-hover:bg-sky-light transition duration-75 ease-linear")&attributes(attributes)
    block

mixin th
  th.h-6.px-8.py-0.align-top.text-xs.font-semibold.tracking-wider.text-left.uppercase.min-w-max.text-ink-lighter(scope="col" class="first:pl-4 last:pr-4 mb-1")&attributes(attributes)
    block
