include ./element.pug
include ./icons/solid/x.pug
include ./icons/outline/checkCircle.pug
include ./icons/outline/exclamation.pug
include ./icons/outline/exclamationCircle.pug

mixin toast(tagName = "aside")
  -
    const { kind = 'primary', ...attrs } = attributes;

    const classNames = [
      'flex',
      'bg-white',
      'shadow-md',
      'rounded-md',
      'p-3',
      'gap-x-2',
      'font-medium',
      'items-center',
    ];

  +element(tagName)(class=classNames data-role="toast")&attributes(attrs)
    case kind
      when "positive"
        +checkCircleOutlineIcon.text-green
      when "warning"
        +exclamationOutlineIcon.text-yellow
      when "critical"
        +exclamationCircleOutlineIcon.text-red
      when "neutral"
        +exclamationCircleOutlineIcon.text-blue
    block
    +toastCloseButton

mixin toastCloseButton
  button(data-action="remove" data-target="[data-role=toast]").h-5.w-5.font-light.ml-auto&attributes(attributes)
    +xSolidIcon.text-sky-dark

mixin positiveToast
  +toast(kind="positive")&attributes(attributes)
    block

mixin warningToast
  +toast(kind="warning")&attributes(attributes)
    block

mixin criticalToast
  +toast(kind="critical")&attributes(attributes)
    block

mixin neutrallToast
  +toast(kind="neutral")&attributes(attributes)
    block
