include ../_mixins.pug

+section
  +heading2.mb-1 Avatars
  +paragraph.mb-8 Use avatars...

  +heading3.mb-1 Small
  +paragraph.mb-8 Use small avatars when...

  +example.mb-8
    +exampleDisplay
      +avatar(kind="one" size="small") MA
      +avatar(kind="two" size="small") MA
      +avatar(kind="three" size="small") MA
      +avatar(kind="four" size="small") MA
      +avatar(kind="five" size="small") MA
      +avatar(kind="six" size="small") MA
      +avatar(kind="seven" size="small") MA
      +avatar(kind="eight" size="small") MA
    +exampleSourceCode.
      +avatar(kind="one" size="small") MA
      +avatar(kind="two" size="small") MA
      +avatar(kind="three" size="small") MA
      +avatar(kind="four" size="small") MA
      +avatar(kind="five" size="small") MA
      +avatar(kind="six" size="small") MA
      +avatar(kind="seven" size="small") MA
      +avatar(kind="eight" size="small") MA

  +heading3.mb-1 Medium
  +paragraph.mb-8 Use medium avatars when...

  +example.mb-8
    +exampleDisplay
      +avatar(kind="one" size="medium") MA
      +avatar(kind="two" size="medium") MA
      +avatar(kind="three" size="medium") MA
      +avatar(kind="four" size="medium") MA
      +avatar(kind="five" size="medium") MA
      +avatar(kind="six" size="medium") MA
      +avatar(kind="seven" size="medium") MA
      +avatar(kind="eight" size="medium") MA
    +exampleSourceCode.
      +avatar(kind="one" size="medium") MA
      +avatar(kind="two" size="medium") MA
      +avatar(kind="three" size="medium") MA
      +avatar(kind="four" size="medium") MA
      +avatar(kind="five" size="medium") MA
      +avatar(kind="six" size="medium") MA
      +avatar(kind="seven" size="medium") MA
      +avatar(kind="eight" size="medium") MA

  +heading3.mb-1 Large
  +paragraph.mb-8 Use large avatars when...

  +example.mb-8
    +exampleDisplay
      +avatar(kind="one" size="large") MA
      +avatar(kind="two" size="large") MA
      +avatar(kind="three" size="large") MA
      +avatar(kind="four" size="large") MA
      +avatar(kind="five" size="large") MA
      +avatar(kind="six" size="large") MA
      +avatar(kind="seven" size="large") MA
      +avatar(kind="eight" size="large") MA
    +exampleSourceCode.
      +avatar(kind="one" size="large") MA
      +avatar(kind="two" size="large") MA
      +avatar(kind="three" size="large") MA
      +avatar(kind="four" size="large") MA
      +avatar(kind="five" size="large") MA
      +avatar(kind="six" size="large") MA
      +avatar(kind="seven" size="large") MA
      +avatar(kind="eight" size="large") MA