include ../_mixins.pug

+section
  +heading2.mb-1 Badges
  +paragraph.mb-8 Use badges for...

  +example.mb-8
    +exampleDisplay
      +badge(color="green") Green Badge
      +badge(color="orange") Orange Badge
      +badge(color="pink") Pink Badge
      +badge(color="blue") Blue Badge
      +badge(color="yellow") Yellow Badge
      +badge(color="grey") Grey Badge
    +exampleSourceCode.
      +badge(color="green") Green Badge
      +badge(color="orange") Orange Badge
      +badge(color="pink") Pink Badge
      +badge(color="blue") Blue Badge
      +badge(color="yellow") Yellow Badge
      +badge(color="grey") Grey Badge
