include ../_mixins.pug

+heading2.mb-1 Dialog
+paragraph.mb-8 Use dialogs...

+heading4.mb-8 Show

+example.mb-8
  +exampleDisplay
    +dialog#dialog1
      +button(kind="primary" data-action="close" size="lg") Close Dialog
    +button(kind="primary" data-target="#dialog1" size="lg" data-action="show") Show Dialog
  +exampleSourceCode.
    +dialog#dialog1
      +button(kind="primary" data-action="close" size="lg") Close Dialog
    +button(kind="primary" data-target="#dialog1" size="lg" data-action="show") Show Dialog

+heading4.mb-8 Show Modal

+example.mb-8
  +exampleDisplay
    +dialog#dialog2
      +button(kind="primary" data-action="close" size="lg") Close Dialog
    +button(kind="primary" data-target="#dialog2" size="lg" data-action="showModal") Show Modal Dialog
  +exampleSourceCode.
    +dialog#dialog2
      +button(kind="primary" data-action="close" size="lg") Close Dialog
    +button(kind="primary" data-target="#dialog2" size="lg" data-action="showModal") Show Modal Dialog
