include ../_mixins.pug

+heading2.mb-1 Icons
+paragraph.mb-8 https://heroicons.com/

+heading3.mb-1 Outline
+paragraph.mb-8 For primary navigation and marketing sections, designed to be rendered at 24x24.

+example.mb-8
  +exampleDisplay.flex-col
    +outlineIcon("annotation")
  +exampleSourceCode.
    +outlineIcon("annotation")

+heading3.mb-1 Solid
+paragraph.mb-8 For buttons, form elements, and to support text, designed to be rendered at 20x20.

+example.mb-8
  +exampleDisplay.flex-col
    +solidIcon("annotation")
  +exampleSourceCode.
    +solidIcon("annotation")
