include ../_mixins.pug
include ../../pug/mixins/icons/outline/academicCap.pug
include ../../pug/mixins/icons/outline/adjustments.pug
include ../../pug/mixins/icons/outline/annotation.pug
include ../../pug/mixins/icons/outline/archive.pug
include ../../pug/mixins/icons/outline/arrowCircleDown.pug
include ../../pug/mixins/icons/outline/arrowCircleLeft.pug
include ../../pug/mixins/icons/outline/arrowCircleRight.pug
include ../../pug/mixins/icons/outline/arrowCircleUp.pug
include ../../pug/mixins/icons/outline/arrowDown.pug
include ../../pug/mixins/icons/outline/arrowLeft.pug
include ../../pug/mixins/icons/outline/arrowNarrowDown.pug
include ../../pug/mixins/icons/outline/arrowNarrowLeft.pug
include ../../pug/mixins/icons/outline/arrowNarrowRight.pug
include ../../pug/mixins/icons/outline/arrowNarrowUp.pug
include ../../pug/mixins/icons/outline/arrowRight.pug
include ../../pug/mixins/icons/outline/arrowSmDown.pug
include ../../pug/mixins/icons/outline/arrowSmLeft.pug
include ../../pug/mixins/icons/outline/arrowSmRight.pug
include ../../pug/mixins/icons/outline/arrowSmUp.pug
include ../../pug/mixins/icons/outline/arrowUp.pug
include ../../pug/mixins/icons/outline/arrowsExpand.pug
include ../../pug/mixins/icons/outline/atSymbol.pug
include ../../pug/mixins/icons/outline/backspace.pug
include ../../pug/mixins/icons/outline/badgeCheck.pug
include ../../pug/mixins/icons/outline/ban.pug
include ../../pug/mixins/icons/outline/beaker.pug
include ../../pug/mixins/icons/outline/bell.pug
include ../../pug/mixins/icons/outline/bookOpen.pug
include ../../pug/mixins/icons/outline/bookmarkAlt.pug
include ../../pug/mixins/icons/outline/bookmark.pug
include ../../pug/mixins/icons/outline/briefcase.pug
include ../../pug/mixins/icons/outline/cake.pug
include ../../pug/mixins/icons/outline/calculator.pug
include ../../pug/mixins/icons/outline/calendar.pug
include ../../pug/mixins/icons/outline/camera.pug
include ../../pug/mixins/icons/outline/cash.pug
include ../../pug/mixins/icons/outline/chartBar.pug
include ../../pug/mixins/icons/outline/chartPie.pug
include ../../pug/mixins/icons/outline/chartSquareBar.pug
include ../../pug/mixins/icons/outline/chatAlt_2.pug
include ../../pug/mixins/icons/outline/chatAlt.pug
include ../../pug/mixins/icons/outline/chat.pug
include ../../pug/mixins/icons/outline/checkCircle.pug
include ../../pug/mixins/icons/outline/check.pug
include ../../pug/mixins/icons/outline/chevronDoubleDown.pug
include ../../pug/mixins/icons/outline/chevronDoubleLeft.pug
include ../../pug/mixins/icons/outline/chevronDoubleRight.pug
include ../../pug/mixins/icons/outline/chevronDoubleUp.pug
include ../../pug/mixins/icons/outline/chevronDown.pug
include ../../pug/mixins/icons/outline/chevronLeft.pug
include ../../pug/mixins/icons/outline/chevronRight.pug
include ../../pug/mixins/icons/outline/chevronUp.pug
include ../../pug/mixins/icons/outline/chip.pug
include ../../pug/mixins/icons/outline/clipboardCheck.pug
include ../../pug/mixins/icons/outline/clipboardCopy.pug
include ../../pug/mixins/icons/outline/clipboardList.pug
include ../../pug/mixins/icons/outline/clipboard.pug
include ../../pug/mixins/icons/outline/clock.pug
include ../../pug/mixins/icons/outline/cloudDownload.pug
include ../../pug/mixins/icons/outline/cloudUpload.pug
include ../../pug/mixins/icons/outline/cloud.pug
include ../../pug/mixins/icons/outline/code.pug
include ../../pug/mixins/icons/outline/cog.pug
include ../../pug/mixins/icons/outline/collection.pug
include ../../pug/mixins/icons/outline/colorSwatch.pug
include ../../pug/mixins/icons/outline/creditCard.pug
include ../../pug/mixins/icons/outline/cubeTransparent.pug
include ../../pug/mixins/icons/outline/cube.pug
include ../../pug/mixins/icons/outline/currencyBangladeshi.pug
include ../../pug/mixins/icons/outline/currencyDollar.pug
include ../../pug/mixins/icons/outline/currencyEuro.pug
include ../../pug/mixins/icons/outline/currencyPound.pug
include ../../pug/mixins/icons/outline/currencyRupee.pug
include ../../pug/mixins/icons/outline/currencyYen.pug
include ../../pug/mixins/icons/outline/cursorClick.pug
include ../../pug/mixins/icons/outline/database.pug
include ../../pug/mixins/icons/outline/desktopComputer.pug
include ../../pug/mixins/icons/outline/deviceMobile.pug
include ../../pug/mixins/icons/outline/deviceTablet.pug
include ../../pug/mixins/icons/outline/documentAdd.pug
include ../../pug/mixins/icons/outline/documentDownload.pug
include ../../pug/mixins/icons/outline/documentDuplicate.pug
include ../../pug/mixins/icons/outline/documentRemove.pug
include ../../pug/mixins/icons/outline/documentReport.pug
include ../../pug/mixins/icons/outline/documentSearch.pug
include ../../pug/mixins/icons/outline/documentText.pug
include ../../pug/mixins/icons/outline/document.pug
include ../../pug/mixins/icons/outline/dotsCircleHorizontal.pug
include ../../pug/mixins/icons/outline/dotsHorizontal.pug
include ../../pug/mixins/icons/outline/dotsVertical.pug
include ../../pug/mixins/icons/outline/download.pug
include ../../pug/mixins/icons/outline/duplicate.pug
include ../../pug/mixins/icons/outline/emojiHappy.pug
include ../../pug/mixins/icons/outline/emojiSad.pug
include ../../pug/mixins/icons/outline/exclamationCircle.pug
include ../../pug/mixins/icons/outline/exclamation.pug
include ../../pug/mixins/icons/outline/externalLink.pug
include ../../pug/mixins/icons/outline/eyeOff.pug
include ../../pug/mixins/icons/outline/eye.pug
include ../../pug/mixins/icons/outline/fastForward.pug
include ../../pug/mixins/icons/outline/film.pug
include ../../pug/mixins/icons/outline/filter.pug
include ../../pug/mixins/icons/outline/fingerPrint.pug
include ../../pug/mixins/icons/outline/fire.pug
include ../../pug/mixins/icons/outline/flag.pug
include ../../pug/mixins/icons/outline/folderAdd.pug
include ../../pug/mixins/icons/outline/folderDownload.pug
include ../../pug/mixins/icons/outline/folderOpen.pug
include ../../pug/mixins/icons/outline/folderRemove.pug
include ../../pug/mixins/icons/outline/folder.pug
include ../../pug/mixins/icons/outline/gift.pug
include ../../pug/mixins/icons/outline/globeAlt.pug
include ../../pug/mixins/icons/outline/globe.pug
include ../../pug/mixins/icons/outline/hand.pug
include ../../pug/mixins/icons/outline/hashtag.pug
include ../../pug/mixins/icons/outline/heart.pug
include ../../pug/mixins/icons/outline/home.pug
include ../../pug/mixins/icons/outline/identification.pug
include ../../pug/mixins/icons/outline/inboxIn.pug
include ../../pug/mixins/icons/outline/inbox.pug
include ../../pug/mixins/icons/outline/informationCircle.pug
include ../../pug/mixins/icons/outline/key.pug
include ../../pug/mixins/icons/outline/library.pug
include ../../pug/mixins/icons/outline/lightBulb.pug
include ../../pug/mixins/icons/outline/lightningBolt.pug
include ../../pug/mixins/icons/outline/link.pug
include ../../pug/mixins/icons/outline/locationMarker.pug
include ../../pug/mixins/icons/outline/lockClosed.pug
include ../../pug/mixins/icons/outline/lockOpen.pug
include ../../pug/mixins/icons/outline/login.pug
include ../../pug/mixins/icons/outline/logout.pug
include ../../pug/mixins/icons/outline/mailOpen.pug
include ../../pug/mixins/icons/outline/mail.pug
include ../../pug/mixins/icons/outline/map.pug
include ../../pug/mixins/icons/outline/menuAlt_1.pug
include ../../pug/mixins/icons/outline/menuAlt_2.pug
include ../../pug/mixins/icons/outline/menuAlt_3.pug
include ../../pug/mixins/icons/outline/menuAlt_4.pug
include ../../pug/mixins/icons/outline/menu.pug
include ../../pug/mixins/icons/outline/microphone.pug
include ../../pug/mixins/icons/outline/minusCircle.pug
include ../../pug/mixins/icons/outline/minusSm.pug
include ../../pug/mixins/icons/outline/minus.pug
include ../../pug/mixins/icons/outline/moon.pug
include ../../pug/mixins/icons/outline/musicNote.pug
include ../../pug/mixins/icons/outline/newspaper.pug
include ../../pug/mixins/icons/outline/officeBuilding.pug
include ../../pug/mixins/icons/outline/paperAirplane.pug
include ../../pug/mixins/icons/outline/paperClip.pug
include ../../pug/mixins/icons/outline/pause.pug
include ../../pug/mixins/icons/outline/pencilAlt.pug
include ../../pug/mixins/icons/outline/pencil.pug
include ../../pug/mixins/icons/outline/phoneIncoming.pug
include ../../pug/mixins/icons/outline/phoneMissedCall.pug
include ../../pug/mixins/icons/outline/phoneOutgoing.pug
include ../../pug/mixins/icons/outline/phone.pug
include ../../pug/mixins/icons/outline/photograph.pug
include ../../pug/mixins/icons/outline/play.pug
include ../../pug/mixins/icons/outline/plusCircle.pug
include ../../pug/mixins/icons/outline/plusSm.pug
include ../../pug/mixins/icons/outline/plus.pug
include ../../pug/mixins/icons/outline/presentationChartBar.pug
include ../../pug/mixins/icons/outline/presentationChartLine.pug
include ../../pug/mixins/icons/outline/printer.pug
include ../../pug/mixins/icons/outline/puzzle.pug
include ../../pug/mixins/icons/outline/qrcode.pug
include ../../pug/mixins/icons/outline/questionMarkCircle.pug
include ../../pug/mixins/icons/outline/receiptRefund.pug
include ../../pug/mixins/icons/outline/receiptTax.pug
include ../../pug/mixins/icons/outline/refresh.pug
include ../../pug/mixins/icons/outline/reply.pug
include ../../pug/mixins/icons/outline/rewind.pug
include ../../pug/mixins/icons/outline/rss.pug
include ../../pug/mixins/icons/outline/saveAs.pug
include ../../pug/mixins/icons/outline/save.pug
include ../../pug/mixins/icons/outline/scale.pug
include ../../pug/mixins/icons/outline/scissors.pug
include ../../pug/mixins/icons/outline/searchCircle.pug
include ../../pug/mixins/icons/outline/search.pug
include ../../pug/mixins/icons/outline/selector.pug
include ../../pug/mixins/icons/outline/server.pug
include ../../pug/mixins/icons/outline/share.pug
include ../../pug/mixins/icons/outline/shieldCheck.pug
include ../../pug/mixins/icons/outline/shieldExclamation.pug
include ../../pug/mixins/icons/outline/shoppingBag.pug
include ../../pug/mixins/icons/outline/shoppingCart.pug
include ../../pug/mixins/icons/outline/sortAscending.pug
include ../../pug/mixins/icons/outline/sortDescending.pug
include ../../pug/mixins/icons/outline/sparkles.pug
include ../../pug/mixins/icons/outline/speakerphone.pug
include ../../pug/mixins/icons/outline/star.pug
include ../../pug/mixins/icons/outline/statusOffline.pug
include ../../pug/mixins/icons/outline/statusOnline.pug
include ../../pug/mixins/icons/outline/stop.pug
include ../../pug/mixins/icons/outline/sun.pug
include ../../pug/mixins/icons/outline/support.pug
include ../../pug/mixins/icons/outline/switchHorizontal.pug
include ../../pug/mixins/icons/outline/switchVertical.pug
include ../../pug/mixins/icons/outline/table.pug
include ../../pug/mixins/icons/outline/tag.pug
include ../../pug/mixins/icons/outline/template.pug
include ../../pug/mixins/icons/outline/terminal.pug
include ../../pug/mixins/icons/outline/thumbDown.pug
include ../../pug/mixins/icons/outline/thumbUp.pug
include ../../pug/mixins/icons/outline/ticket.pug
include ../../pug/mixins/icons/outline/translate.pug
include ../../pug/mixins/icons/outline/trash.pug
include ../../pug/mixins/icons/outline/trendingDown.pug
include ../../pug/mixins/icons/outline/trendingUp.pug
include ../../pug/mixins/icons/outline/truck.pug
include ../../pug/mixins/icons/outline/upload.pug
include ../../pug/mixins/icons/outline/userAdd.pug
include ../../pug/mixins/icons/outline/userCircle.pug
include ../../pug/mixins/icons/outline/userGroup.pug
include ../../pug/mixins/icons/outline/userRemove.pug
include ../../pug/mixins/icons/outline/user.pug
include ../../pug/mixins/icons/outline/users.pug
include ../../pug/mixins/icons/outline/variable.pug
include ../../pug/mixins/icons/outline/videoCamera.pug
include ../../pug/mixins/icons/outline/viewBoards.pug
include ../../pug/mixins/icons/outline/viewGridAdd.pug
include ../../pug/mixins/icons/outline/viewGrid.pug
include ../../pug/mixins/icons/outline/viewList.pug
include ../../pug/mixins/icons/outline/volumeOff.pug
include ../../pug/mixins/icons/outline/volumeUp.pug
include ../../pug/mixins/icons/outline/wifi.pug
include ../../pug/mixins/icons/outline/xCircle.pug
include ../../pug/mixins/icons/outline/x.pug
include ../../pug/mixins/icons/outline/zoomIn.pug
include ../../pug/mixins/icons/outline/zoomOut.pug
include ../../pug/mixins/icons/solid/academicCap.pug
include ../../pug/mixins/icons/solid/adjustments.pug
include ../../pug/mixins/icons/solid/annotation.pug
include ../../pug/mixins/icons/solid/archive.pug
include ../../pug/mixins/icons/solid/arrowCircleDown.pug
include ../../pug/mixins/icons/solid/arrowCircleLeft.pug
include ../../pug/mixins/icons/solid/arrowCircleRight.pug
include ../../pug/mixins/icons/solid/arrowCircleUp.pug
include ../../pug/mixins/icons/solid/arrowDown.pug
include ../../pug/mixins/icons/solid/arrowLeft.pug
include ../../pug/mixins/icons/solid/arrowNarrowDown.pug
include ../../pug/mixins/icons/solid/arrowNarrowLeft.pug
include ../../pug/mixins/icons/solid/arrowNarrowRight.pug
include ../../pug/mixins/icons/solid/arrowNarrowUp.pug
include ../../pug/mixins/icons/solid/arrowRight.pug
include ../../pug/mixins/icons/solid/arrowSmDown.pug
include ../../pug/mixins/icons/solid/arrowSmLeft.pug
include ../../pug/mixins/icons/solid/arrowSmRight.pug
include ../../pug/mixins/icons/solid/arrowSmUp.pug
include ../../pug/mixins/icons/solid/arrowUp.pug
include ../../pug/mixins/icons/solid/arrowsExpand.pug
include ../../pug/mixins/icons/solid/atSymbol.pug
include ../../pug/mixins/icons/solid/backspace.pug
include ../../pug/mixins/icons/solid/badgeCheck.pug
include ../../pug/mixins/icons/solid/ban.pug
include ../../pug/mixins/icons/solid/beaker.pug
include ../../pug/mixins/icons/solid/bell.pug
include ../../pug/mixins/icons/solid/bookOpen.pug
include ../../pug/mixins/icons/solid/bookmarkAlt.pug
include ../../pug/mixins/icons/solid/bookmark.pug
include ../../pug/mixins/icons/solid/briefcase.pug
include ../../pug/mixins/icons/solid/cake.pug
include ../../pug/mixins/icons/solid/calculator.pug
include ../../pug/mixins/icons/solid/calendar.pug
include ../../pug/mixins/icons/solid/camera.pug
include ../../pug/mixins/icons/solid/cash.pug
include ../../pug/mixins/icons/solid/chartBar.pug
include ../../pug/mixins/icons/solid/chartPie.pug
include ../../pug/mixins/icons/solid/chartSquareBar.pug
include ../../pug/mixins/icons/solid/chatAlt_2.pug
include ../../pug/mixins/icons/solid/chatAlt.pug
include ../../pug/mixins/icons/solid/chat.pug
include ../../pug/mixins/icons/solid/checkCircle.pug
include ../../pug/mixins/icons/solid/check.pug
include ../../pug/mixins/icons/solid/chevronDoubleDown.pug
include ../../pug/mixins/icons/solid/chevronDoubleLeft.pug
include ../../pug/mixins/icons/solid/chevronDoubleRight.pug
include ../../pug/mixins/icons/solid/chevronDoubleUp.pug
include ../../pug/mixins/icons/solid/chevronDown.pug
include ../../pug/mixins/icons/solid/chevronLeft.pug
include ../../pug/mixins/icons/solid/chevronRight.pug
include ../../pug/mixins/icons/solid/chevronUp.pug
include ../../pug/mixins/icons/solid/chip.pug
include ../../pug/mixins/icons/solid/clipboardCheck.pug
include ../../pug/mixins/icons/solid/clipboardCopy.pug
include ../../pug/mixins/icons/solid/clipboardList.pug
include ../../pug/mixins/icons/solid/clipboard.pug
include ../../pug/mixins/icons/solid/clock.pug
include ../../pug/mixins/icons/solid/cloudDownload.pug
include ../../pug/mixins/icons/solid/cloudUpload.pug
include ../../pug/mixins/icons/solid/cloud.pug
include ../../pug/mixins/icons/solid/code.pug
include ../../pug/mixins/icons/solid/cog.pug
include ../../pug/mixins/icons/solid/collection.pug
include ../../pug/mixins/icons/solid/colorSwatch.pug
include ../../pug/mixins/icons/solid/creditCard.pug
include ../../pug/mixins/icons/solid/cubeTransparent.pug
include ../../pug/mixins/icons/solid/cube.pug
include ../../pug/mixins/icons/solid/currencyBangladeshi.pug
include ../../pug/mixins/icons/solid/currencyDollar.pug
include ../../pug/mixins/icons/solid/currencyEuro.pug
include ../../pug/mixins/icons/solid/currencyPound.pug
include ../../pug/mixins/icons/solid/currencyRupee.pug
include ../../pug/mixins/icons/solid/currencyYen.pug
include ../../pug/mixins/icons/solid/cursorClick.pug
include ../../pug/mixins/icons/solid/database.pug
include ../../pug/mixins/icons/solid/desktopComputer.pug
include ../../pug/mixins/icons/solid/deviceMobile.pug
include ../../pug/mixins/icons/solid/deviceTablet.pug
include ../../pug/mixins/icons/solid/documentAdd.pug
include ../../pug/mixins/icons/solid/documentDownload.pug
include ../../pug/mixins/icons/solid/documentDuplicate.pug
include ../../pug/mixins/icons/solid/documentRemove.pug
include ../../pug/mixins/icons/solid/documentReport.pug
include ../../pug/mixins/icons/solid/documentSearch.pug
include ../../pug/mixins/icons/solid/documentText.pug
include ../../pug/mixins/icons/solid/document.pug
include ../../pug/mixins/icons/solid/dotsCircleHorizontal.pug
include ../../pug/mixins/icons/solid/dotsHorizontal.pug
include ../../pug/mixins/icons/solid/dotsVertical.pug
include ../../pug/mixins/icons/solid/download.pug
include ../../pug/mixins/icons/solid/duplicate.pug
include ../../pug/mixins/icons/solid/emojiHappy.pug
include ../../pug/mixins/icons/solid/emojiSad.pug
include ../../pug/mixins/icons/solid/exclamationCircle.pug
include ../../pug/mixins/icons/solid/exclamation.pug
include ../../pug/mixins/icons/solid/externalLink.pug
include ../../pug/mixins/icons/solid/eyeOff.pug
include ../../pug/mixins/icons/solid/eye.pug
include ../../pug/mixins/icons/solid/fastForward.pug
include ../../pug/mixins/icons/solid/film.pug
include ../../pug/mixins/icons/solid/filter.pug
include ../../pug/mixins/icons/solid/fingerPrint.pug
include ../../pug/mixins/icons/solid/fire.pug
include ../../pug/mixins/icons/solid/flag.pug
include ../../pug/mixins/icons/solid/folderAdd.pug
include ../../pug/mixins/icons/solid/folderDownload.pug
include ../../pug/mixins/icons/solid/folderOpen.pug
include ../../pug/mixins/icons/solid/folderRemove.pug
include ../../pug/mixins/icons/solid/folder.pug
include ../../pug/mixins/icons/solid/gift.pug
include ../../pug/mixins/icons/solid/globeAlt.pug
include ../../pug/mixins/icons/solid/globe.pug
include ../../pug/mixins/icons/solid/hand.pug
include ../../pug/mixins/icons/solid/hashtag.pug
include ../../pug/mixins/icons/solid/heart.pug
include ../../pug/mixins/icons/solid/home.pug
include ../../pug/mixins/icons/solid/identification.pug
include ../../pug/mixins/icons/solid/inboxIn.pug
include ../../pug/mixins/icons/solid/inbox.pug
include ../../pug/mixins/icons/solid/informationCircle.pug
include ../../pug/mixins/icons/solid/key.pug
include ../../pug/mixins/icons/solid/library.pug
include ../../pug/mixins/icons/solid/lightBulb.pug
include ../../pug/mixins/icons/solid/lightningBolt.pug
include ../../pug/mixins/icons/solid/link.pug
include ../../pug/mixins/icons/solid/locationMarker.pug
include ../../pug/mixins/icons/solid/lockClosed.pug
include ../../pug/mixins/icons/solid/lockOpen.pug
include ../../pug/mixins/icons/solid/login.pug
include ../../pug/mixins/icons/solid/logout.pug
include ../../pug/mixins/icons/solid/mailOpen.pug
include ../../pug/mixins/icons/solid/mail.pug
include ../../pug/mixins/icons/solid/map.pug
include ../../pug/mixins/icons/solid/menuAlt_1.pug
include ../../pug/mixins/icons/solid/menuAlt_2.pug
include ../../pug/mixins/icons/solid/menuAlt_3.pug
include ../../pug/mixins/icons/solid/menuAlt_4.pug
include ../../pug/mixins/icons/solid/menu.pug
include ../../pug/mixins/icons/solid/microphone.pug
include ../../pug/mixins/icons/solid/minusCircle.pug
include ../../pug/mixins/icons/solid/minusSm.pug
include ../../pug/mixins/icons/solid/minus.pug
include ../../pug/mixins/icons/solid/moon.pug
include ../../pug/mixins/icons/solid/musicNote.pug
include ../../pug/mixins/icons/solid/newspaper.pug
include ../../pug/mixins/icons/solid/officeBuilding.pug
include ../../pug/mixins/icons/solid/paperAirplane.pug
include ../../pug/mixins/icons/solid/paperClip.pug
include ../../pug/mixins/icons/solid/pause.pug
include ../../pug/mixins/icons/solid/pencilAlt.pug
include ../../pug/mixins/icons/solid/pencil.pug
include ../../pug/mixins/icons/solid/phoneIncoming.pug
include ../../pug/mixins/icons/solid/phoneMissedCall.pug
include ../../pug/mixins/icons/solid/phoneOutgoing.pug
include ../../pug/mixins/icons/solid/phone.pug
include ../../pug/mixins/icons/solid/photograph.pug
include ../../pug/mixins/icons/solid/play.pug
include ../../pug/mixins/icons/solid/plusCircle.pug
include ../../pug/mixins/icons/solid/plusSm.pug
include ../../pug/mixins/icons/solid/plus.pug
include ../../pug/mixins/icons/solid/presentationChartBar.pug
include ../../pug/mixins/icons/solid/presentationChartLine.pug
include ../../pug/mixins/icons/solid/printer.pug
include ../../pug/mixins/icons/solid/puzzle.pug
include ../../pug/mixins/icons/solid/qrcode.pug
include ../../pug/mixins/icons/solid/questionMarkCircle.pug
include ../../pug/mixins/icons/solid/receiptRefund.pug
include ../../pug/mixins/icons/solid/receiptTax.pug
include ../../pug/mixins/icons/solid/refresh.pug
include ../../pug/mixins/icons/solid/reply.pug
include ../../pug/mixins/icons/solid/rewind.pug
include ../../pug/mixins/icons/solid/rss.pug
include ../../pug/mixins/icons/solid/saveAs.pug
include ../../pug/mixins/icons/solid/save.pug
include ../../pug/mixins/icons/solid/scale.pug
include ../../pug/mixins/icons/solid/scissors.pug
include ../../pug/mixins/icons/solid/searchCircle.pug
include ../../pug/mixins/icons/solid/search.pug
include ../../pug/mixins/icons/solid/selector.pug
include ../../pug/mixins/icons/solid/server.pug
include ../../pug/mixins/icons/solid/share.pug
include ../../pug/mixins/icons/solid/shieldCheck.pug
include ../../pug/mixins/icons/solid/shieldExclamation.pug
include ../../pug/mixins/icons/solid/shoppingBag.pug
include ../../pug/mixins/icons/solid/shoppingCart.pug
include ../../pug/mixins/icons/solid/sortAscending.pug
include ../../pug/mixins/icons/solid/sortDescending.pug
include ../../pug/mixins/icons/solid/sparkles.pug
include ../../pug/mixins/icons/solid/speakerphone.pug
include ../../pug/mixins/icons/solid/star.pug
include ../../pug/mixins/icons/solid/statusOffline.pug
include ../../pug/mixins/icons/solid/statusOnline.pug
include ../../pug/mixins/icons/solid/stop.pug
include ../../pug/mixins/icons/solid/sun.pug
include ../../pug/mixins/icons/solid/support.pug
include ../../pug/mixins/icons/solid/switchHorizontal.pug
include ../../pug/mixins/icons/solid/switchVertical.pug
include ../../pug/mixins/icons/solid/table.pug
include ../../pug/mixins/icons/solid/tag.pug
include ../../pug/mixins/icons/solid/template.pug
include ../../pug/mixins/icons/solid/terminal.pug
include ../../pug/mixins/icons/solid/thumbDown.pug
include ../../pug/mixins/icons/solid/thumbUp.pug
include ../../pug/mixins/icons/solid/ticket.pug
include ../../pug/mixins/icons/solid/translate.pug
include ../../pug/mixins/icons/solid/trash.pug
include ../../pug/mixins/icons/solid/trendingDown.pug
include ../../pug/mixins/icons/solid/trendingUp.pug
include ../../pug/mixins/icons/solid/truck.pug
include ../../pug/mixins/icons/solid/upload.pug
include ../../pug/mixins/icons/solid/userAdd.pug
include ../../pug/mixins/icons/solid/userCircle.pug
include ../../pug/mixins/icons/solid/userGroup.pug
include ../../pug/mixins/icons/solid/userRemove.pug
include ../../pug/mixins/icons/solid/user.pug
include ../../pug/mixins/icons/solid/users.pug
include ../../pug/mixins/icons/solid/variable.pug
include ../../pug/mixins/icons/solid/videoCamera.pug
include ../../pug/mixins/icons/solid/viewBoards.pug
include ../../pug/mixins/icons/solid/viewGridAdd.pug
include ../../pug/mixins/icons/solid/viewGrid.pug
include ../../pug/mixins/icons/solid/viewList.pug
include ../../pug/mixins/icons/solid/volumeOff.pug
include ../../pug/mixins/icons/solid/volumeUp.pug
include ../../pug/mixins/icons/solid/wifi.pug
include ../../pug/mixins/icons/solid/xCircle.pug
include ../../pug/mixins/icons/solid/x.pug
include ../../pug/mixins/icons/solid/zoomIn.pug
include ../../pug/mixins/icons/solid/zoomOut.pug

- names = ["annotation"];

+section
  +heading2.mb-1 Icons
  +paragraph.mb-8 https://heroicons.com/

  +heading3.mb-1 Outline
  +paragraph.mb-8 Use outline icons for primary navigation and marketing sections, designed to be rendered at 24x24.

  +example.mb-8
    +exampleDisplay
      +academicCapOutlineIcon
      +adjustmentsOutlineIcon
      +annotationOutlineIcon
      +archiveOutlineIcon
      +arrowCircleDownOutlineIcon
      +arrowCircleLeftOutlineIcon
      +arrowCircleRightOutlineIcon
      +arrowCircleUpOutlineIcon
      +arrowDownOutlineIcon
      +arrowLeftOutlineIcon
      +arrowNarrowDownOutlineIcon
      +arrowNarrowLeftOutlineIcon
      +arrowNarrowRightOutlineIcon
      +arrowNarrowUpOutlineIcon
      +arrowRightOutlineIcon
      +arrowSmDownOutlineIcon
      +arrowSmLeftOutlineIcon
      +arrowSmRightOutlineIcon
      +arrowSmUpOutlineIcon
      +arrowUpOutlineIcon
      +arrowsExpandOutlineIcon
      +atSymbolOutlineIcon
      +backspaceOutlineIcon
      +badgeCheckOutlineIcon
      +banOutlineIcon
      +beakerOutlineIcon
      +bellOutlineIcon
      +bookOpenOutlineIcon
      +bookmarkAltOutlineIcon
      +bookmarkOutlineIcon
      +briefcaseOutlineIcon
      +cakeOutlineIcon
      +calculatorOutlineIcon
      +calendarOutlineIcon
      +cameraOutlineIcon
      +cashOutlineIcon
      +chartBarOutlineIcon
      +chartPieOutlineIcon
      +chartSquareBarOutlineIcon
      +chatAlt_2OutlineIcon
      +chatAltOutlineIcon
      +chatOutlineIcon
      +checkCircleOutlineIcon
      +checkOutlineIcon
      +chevronDoubleDownOutlineIcon
      +chevronDoubleLeftOutlineIcon
      +chevronDoubleRightOutlineIcon
      +chevronDoubleUpOutlineIcon
      +chevronDownOutlineIcon
      +chevronLeftOutlineIcon
      +chevronRightOutlineIcon
      +chevronUpOutlineIcon
      +chipOutlineIcon
      +clipboardCheckOutlineIcon
      +clipboardCopyOutlineIcon
      +clipboardListOutlineIcon
      +clipboardOutlineIcon
      +clockOutlineIcon
      +cloudDownloadOutlineIcon
      +cloudUploadOutlineIcon
      +cloudOutlineIcon
      +codeOutlineIcon
      +cogOutlineIcon
      +collectionOutlineIcon
      +colorSwatchOutlineIcon
      +creditCardOutlineIcon
      +cubeTransparentOutlineIcon
      +cubeOutlineIcon
      +currencyBangladeshiOutlineIcon
      +currencyDollarOutlineIcon
      +currencyEuroOutlineIcon
      +currencyPoundOutlineIcon
      +currencyRupeeOutlineIcon
      +currencyYenOutlineIcon
      +cursorClickOutlineIcon
      +databaseOutlineIcon
      +desktopComputerOutlineIcon
      +deviceMobileOutlineIcon
      +deviceTabletOutlineIcon
      +documentAddOutlineIcon
      +documentDownloadOutlineIcon
      +documentDuplicateOutlineIcon
      +documentRemoveOutlineIcon
      +documentReportOutlineIcon
      +documentSearchOutlineIcon
      +documentTextOutlineIcon
      +documentOutlineIcon
      +dotsCircleHorizontalOutlineIcon
      +dotsHorizontalOutlineIcon
      +dotsVerticalOutlineIcon
      +downloadOutlineIcon
      +duplicateOutlineIcon
      +emojiHappyOutlineIcon
      +emojiSadOutlineIcon
      +exclamationCircleOutlineIcon
      +exclamationOutlineIcon
      +externalLinkOutlineIcon
      +eyeOffOutlineIcon
      +eyeOutlineIcon
      +fastForwardOutlineIcon
      +filmOutlineIcon
      +filterOutlineIcon
      +fingerPrintOutlineIcon
      +fireOutlineIcon
      +flagOutlineIcon
      +folderAddOutlineIcon
      +folderDownloadOutlineIcon
      +folderOpenOutlineIcon
      +folderRemoveOutlineIcon
      +folderOutlineIcon
      +giftOutlineIcon
      +globeAltOutlineIcon
      +globeOutlineIcon
      +handOutlineIcon
      +hashtagOutlineIcon
      +heartOutlineIcon
      +homeOutlineIcon
      +identificationOutlineIcon
      +inboxInOutlineIcon
      +inboxOutlineIcon
      +informationCircleOutlineIcon
      +keyOutlineIcon
      +libraryOutlineIcon
      +lightBulbOutlineIcon
      +lightningBoltOutlineIcon
      +linkOutlineIcon
      +locationMarkerOutlineIcon
      +lockClosedOutlineIcon
      +lockOpenOutlineIcon
      +loginOutlineIcon
      +logoutOutlineIcon
      +mailOpenOutlineIcon
      +mailOutlineIcon
      +mapOutlineIcon
      +menuAlt_1OutlineIcon
      +menuAlt_2OutlineIcon
      +menuAlt_3OutlineIcon
      +menuAlt_4OutlineIcon
      +menuOutlineIcon
      +microphoneOutlineIcon
      +minusCircleOutlineIcon
      +minusSmOutlineIcon
      +minusOutlineIcon
      +moonOutlineIcon
      +musicNoteOutlineIcon
      +newspaperOutlineIcon
      +officeBuildingOutlineIcon
      +paperAirplaneOutlineIcon
      +paperClipOutlineIcon
      +pauseOutlineIcon
      +pencilAltOutlineIcon
      +pencilOutlineIcon
      +phoneIncomingOutlineIcon
      +phoneMissedCallOutlineIcon
      +phoneOutgoingOutlineIcon
      +phoneOutlineIcon
      +photographOutlineIcon
      +playOutlineIcon
      +plusCircleOutlineIcon
      +plusSmOutlineIcon
      +plusOutlineIcon
      +presentationChartBarOutlineIcon
      +presentationChartLineOutlineIcon
      +printerOutlineIcon
      +puzzleOutlineIcon
      +qrcodeOutlineIcon
      +questionMarkCircleOutlineIcon
      +receiptRefundOutlineIcon
      +receiptTaxOutlineIcon
      +refreshOutlineIcon
      +replyOutlineIcon
      +rewindOutlineIcon
      +rssOutlineIcon
      +saveAsOutlineIcon
      +saveOutlineIcon
      +scaleOutlineIcon
      +scissorsOutlineIcon
      +searchCircleOutlineIcon
      +searchOutlineIcon
      +selectorOutlineIcon
      +serverOutlineIcon
      +shareOutlineIcon
      +shieldCheckOutlineIcon
      +shieldExclamationOutlineIcon
      +shoppingBagOutlineIcon
      +shoppingCartOutlineIcon
      +sortAscendingOutlineIcon
      +sortDescendingOutlineIcon
      +sparklesOutlineIcon
      +speakerphoneOutlineIcon
      +starOutlineIcon
      +statusOfflineOutlineIcon
      +statusOnlineOutlineIcon
      +stopOutlineIcon
      +sunOutlineIcon
      +supportOutlineIcon
      +switchHorizontalOutlineIcon
      +switchVerticalOutlineIcon
      +tableOutlineIcon
      +tagOutlineIcon
      +templateOutlineIcon
      +terminalOutlineIcon
      +thumbDownOutlineIcon
      +thumbUpOutlineIcon
      +ticketOutlineIcon
      +translateOutlineIcon
      +trashOutlineIcon
      +trendingDownOutlineIcon
      +trendingUpOutlineIcon
      +truckOutlineIcon
      +uploadOutlineIcon
      +userAddOutlineIcon
      +userCircleOutlineIcon
      +userGroupOutlineIcon
      +userRemoveOutlineIcon
      +userOutlineIcon
      +usersOutlineIcon
      +variableOutlineIcon
      +videoCameraOutlineIcon
      +viewBoardsOutlineIcon
      +viewGridAddOutlineIcon
      +viewGridOutlineIcon
      +viewListOutlineIcon
      +volumeOffOutlineIcon
      +volumeUpOutlineIcon
      +wifiOutlineIcon
      +xCircleOutlineIcon
      +xOutlineIcon
      +zoomInOutlineIcon
      +zoomOutOutlineIcon
    +exampleSourceCode.
      +academicCapOutlineIcon
      +adjustmentsOutlineIcon
      +annotationOutlineIcon
      +archiveOutlineIcon
      +arrowCircleDownOutlineIcon
      +arrowCircleLeftOutlineIcon
      +arrowCircleRightOutlineIcon
      +arrowCircleUpOutlineIcon
      +arrowDownOutlineIcon
      +arrowLeftOutlineIcon
      +arrowNarrowDownOutlineIcon
      +arrowNarrowLeftOutlineIcon
      +arrowNarrowRightOutlineIcon
      +arrowNarrowUpOutlineIcon
      +arrowRightOutlineIcon
      +arrowSmDownOutlineIcon
      +arrowSmLeftOutlineIcon
      +arrowSmRightOutlineIcon
      +arrowSmUpOutlineIcon
      +arrowUpOutlineIcon
      +arrowsExpandOutlineIcon
      +atSymbolOutlineIcon
      +backspaceOutlineIcon
      +badgeCheckOutlineIcon
      +banOutlineIcon
      +beakerOutlineIcon
      +bellOutlineIcon
      +bookOpenOutlineIcon
      +bookmarkAltOutlineIcon
      +bookmarkOutlineIcon
      +briefcaseOutlineIcon
      +cakeOutlineIcon
      +calculatorOutlineIcon
      +calendarOutlineIcon
      +cameraOutlineIcon
      +cashOutlineIcon
      +chartBarOutlineIcon
      +chartPieOutlineIcon
      +chartSquareBarOutlineIcon
      +chatAlt_2OutlineIcon
      +chatAltOutlineIcon
      +chatOutlineIcon
      +checkCircleOutlineIcon
      +checkOutlineIcon
      +chevronDoubleDownOutlineIcon
      +chevronDoubleLeftOutlineIcon
      +chevronDoubleRightOutlineIcon
      +chevronDoubleUpOutlineIcon
      +chevronDownOutlineIcon
      +chevronLeftOutlineIcon
      +chevronRightOutlineIcon
      +chevronUpOutlineIcon
      +chipOutlineIcon
      +clipboardCheckOutlineIcon
      +clipboardCopyOutlineIcon
      +clipboardListOutlineIcon
      +clipboardOutlineIcon
      +clockOutlineIcon
      +cloudDownloadOutlineIcon
      +cloudUploadOutlineIcon
      +cloudOutlineIcon
      +codeOutlineIcon
      +cogOutlineIcon
      +collectionOutlineIcon
      +colorSwatchOutlineIcon
      +creditCardOutlineIcon
      +cubeTransparentOutlineIcon
      +cubeOutlineIcon
      +currencyBangladeshiOutlineIcon
      +currencyDollarOutlineIcon
      +currencyEuroOutlineIcon
      +currencyPoundOutlineIcon
      +currencyRupeeOutlineIcon
      +currencyYenOutlineIcon
      +cursorClickOutlineIcon
      +databaseOutlineIcon
      +desktopComputerOutlineIcon
      +deviceMobileOutlineIcon
      +deviceTabletOutlineIcon
      +documentAddOutlineIcon
      +documentDownloadOutlineIcon
      +documentDuplicateOutlineIcon
      +documentRemoveOutlineIcon
      +documentReportOutlineIcon
      +documentSearchOutlineIcon
      +documentTextOutlineIcon
      +documentOutlineIcon
      +dotsCircleHorizontalOutlineIcon
      +dotsHorizontalOutlineIcon
      +dotsVerticalOutlineIcon
      +downloadOutlineIcon
      +duplicateOutlineIcon
      +emojiHappyOutlineIcon
      +emojiSadOutlineIcon
      +exclamationCircleOutlineIcon
      +exclamationOutlineIcon
      +externalLinkOutlineIcon
      +eyeOffOutlineIcon
      +eyeOutlineIcon
      +fastForwardOutlineIcon
      +filmOutlineIcon
      +filterOutlineIcon
      +fingerPrintOutlineIcon
      +fireOutlineIcon
      +flagOutlineIcon
      +folderAddOutlineIcon
      +folderDownloadOutlineIcon
      +folderOpenOutlineIcon
      +folderRemoveOutlineIcon
      +folderOutlineIcon
      +giftOutlineIcon
      +globeAltOutlineIcon
      +globeOutlineIcon
      +handOutlineIcon
      +hashtagOutlineIcon
      +heartOutlineIcon
      +homeOutlineIcon
      +identificationOutlineIcon
      +inboxInOutlineIcon
      +inboxOutlineIcon
      +informationCircleOutlineIcon
      +keyOutlineIcon
      +libraryOutlineIcon
      +lightBulbOutlineIcon
      +lightningBoltOutlineIcon
      +linkOutlineIcon
      +locationMarkerOutlineIcon
      +lockClosedOutlineIcon
      +lockOpenOutlineIcon
      +loginOutlineIcon
      +logoutOutlineIcon
      +mailOpenOutlineIcon
      +mailOutlineIcon
      +mapOutlineIcon
      +menuAlt_1OutlineIcon
      +menuAlt_2OutlineIcon
      +menuAlt_3OutlineIcon
      +menuAlt_4OutlineIcon
      +menuOutlineIcon
      +microphoneOutlineIcon
      +minusCircleOutlineIcon
      +minusSmOutlineIcon
      +minusOutlineIcon
      +moonOutlineIcon
      +musicNoteOutlineIcon
      +newspaperOutlineIcon
      +officeBuildingOutlineIcon
      +paperAirplaneOutlineIcon
      +paperClipOutlineIcon
      +pauseOutlineIcon
      +pencilAltOutlineIcon
      +pencilOutlineIcon
      +phoneIncomingOutlineIcon
      +phoneMissedCallOutlineIcon
      +phoneOutgoingOutlineIcon
      +phoneOutlineIcon
      +photographOutlineIcon
      +playOutlineIcon
      +plusCircleOutlineIcon
      +plusSmOutlineIcon
      +plusOutlineIcon
      +presentationChartBarOutlineIcon
      +presentationChartLineOutlineIcon
      +printerOutlineIcon
      +puzzleOutlineIcon
      +qrcodeOutlineIcon
      +questionMarkCircleOutlineIcon
      +receiptRefundOutlineIcon
      +receiptTaxOutlineIcon
      +refreshOutlineIcon
      +replyOutlineIcon
      +rewindOutlineIcon
      +rssOutlineIcon
      +saveAsOutlineIcon
      +saveOutlineIcon
      +scaleOutlineIcon
      +scissorsOutlineIcon
      +searchCircleOutlineIcon
      +searchOutlineIcon
      +selectorOutlineIcon
      +serverOutlineIcon
      +shareOutlineIcon
      +shieldCheckOutlineIcon
      +shieldExclamationOutlineIcon
      +shoppingBagOutlineIcon
      +shoppingCartOutlineIcon
      +sortAscendingOutlineIcon
      +sortDescendingOutlineIcon
      +sparklesOutlineIcon
      +speakerphoneOutlineIcon
      +starOutlineIcon
      +statusOfflineOutlineIcon
      +statusOnlineOutlineIcon
      +stopOutlineIcon
      +sunOutlineIcon
      +supportOutlineIcon
      +switchHorizontalOutlineIcon
      +switchVerticalOutlineIcon
      +tableOutlineIcon
      +tagOutlineIcon
      +templateOutlineIcon
      +terminalOutlineIcon
      +thumbDownOutlineIcon
      +thumbUpOutlineIcon
      +ticketOutlineIcon
      +translateOutlineIcon
      +trashOutlineIcon
      +trendingDownOutlineIcon
      +trendingUpOutlineIcon
      +truckOutlineIcon
      +uploadOutlineIcon
      +userAddOutlineIcon
      +userCircleOutlineIcon
      +userGroupOutlineIcon
      +userRemoveOutlineIcon
      +userOutlineIcon
      +usersOutlineIcon
      +variableOutlineIcon
      +videoCameraOutlineIcon
      +viewBoardsOutlineIcon
      +viewGridAddOutlineIcon
      +viewGridOutlineIcon
      +viewListOutlineIcon
      +volumeOffOutlineIcon
      +volumeUpOutlineIcon
      +wifiOutlineIcon
      +xCircleOutlineIcon
      +xOutlineIcon
      +zoomInOutlineIcon
      +zoomOutOutlineIcon

  +heading3.mb-1 Solid
  +paragraph.mb-8 Use solid icons for buttons, form elements, and to support text, designed to be rendered at 20x20.

  +example.mb-8
    +exampleDisplay
      +academicCapSolidIcon
      +adjustmentsSolidIcon
      +annotationSolidIcon
      +archiveSolidIcon
      +arrowCircleDownSolidIcon
      +arrowCircleLeftSolidIcon
      +arrowCircleRightSolidIcon
      +arrowCircleUpSolidIcon
      +arrowDownSolidIcon
      +arrowLeftSolidIcon
      +arrowNarrowDownSolidIcon
      +arrowNarrowLeftSolidIcon
      +arrowNarrowRightSolidIcon
      +arrowNarrowUpSolidIcon
      +arrowRightSolidIcon
      +arrowSmDownSolidIcon
      +arrowSmLeftSolidIcon
      +arrowSmRightSolidIcon
      +arrowSmUpSolidIcon
      +arrowUpSolidIcon
      +arrowsExpandSolidIcon
      +atSymbolSolidIcon
      +backspaceSolidIcon
      +badgeCheckSolidIcon
      +banSolidIcon
      +beakerSolidIcon
      +bellSolidIcon
      +bookOpenSolidIcon
      +bookmarkAltSolidIcon
      +bookmarkSolidIcon
      +briefcaseSolidIcon
      +cakeSolidIcon
      +calculatorSolidIcon
      +calendarSolidIcon
      +cameraSolidIcon
      +cashSolidIcon
      +chartBarSolidIcon
      +chartPieSolidIcon
      +chartSquareBarSolidIcon
      +chatAlt_2SolidIcon
      +chatAltSolidIcon
      +chatSolidIcon
      +checkCircleSolidIcon
      +checkSolidIcon
      +chevronDoubleDownSolidIcon
      +chevronDoubleLeftSolidIcon
      +chevronDoubleRightSolidIcon
      +chevronDoubleUpSolidIcon
      +chevronDownSolidIcon
      +chevronLeftSolidIcon
      +chevronRightSolidIcon
      +chevronUpSolidIcon
      +chipSolidIcon
      +clipboardCheckSolidIcon
      +clipboardCopySolidIcon
      +clipboardListSolidIcon
      +clipboardSolidIcon
      +clockSolidIcon
      +cloudDownloadSolidIcon
      +cloudUploadSolidIcon
      +cloudSolidIcon
      +codeSolidIcon
      +cogSolidIcon
      +collectionSolidIcon
      +colorSwatchSolidIcon
      +creditCardSolidIcon
      +cubeTransparentSolidIcon
      +cubeSolidIcon
      +currencyBangladeshiSolidIcon
      +currencyDollarSolidIcon
      +currencyEuroSolidIcon
      +currencyPoundSolidIcon
      +currencyRupeeSolidIcon
      +currencyYenSolidIcon
      +cursorClickSolidIcon
      +databaseSolidIcon
      +desktopComputerSolidIcon
      +deviceMobileSolidIcon
      +deviceTabletSolidIcon
      +documentAddSolidIcon
      +documentDownloadSolidIcon
      +documentDuplicateSolidIcon
      +documentRemoveSolidIcon
      +documentReportSolidIcon
      +documentSearchSolidIcon
      +documentTextSolidIcon
      +documentSolidIcon
      +dotsCircleHorizontalSolidIcon
      +dotsHorizontalSolidIcon
      +dotsVerticalSolidIcon
      +downloadSolidIcon
      +duplicateSolidIcon
      +emojiHappySolidIcon
      +emojiSadSolidIcon
      +exclamationCircleSolidIcon
      +exclamationSolidIcon
      +externalLinkSolidIcon
      +eyeOffSolidIcon
      +eyeSolidIcon
      +fastForwardSolidIcon
      +filmSolidIcon
      +filterSolidIcon
      +fingerPrintSolidIcon
      +fireSolidIcon
      +flagSolidIcon
      +folderAddSolidIcon
      +folderDownloadSolidIcon
      +folderOpenSolidIcon
      +folderRemoveSolidIcon
      +folderSolidIcon
      +giftSolidIcon
      +globeAltSolidIcon
      +globeSolidIcon
      +handSolidIcon
      +hashtagSolidIcon
      +heartSolidIcon
      +homeSolidIcon
      +identificationSolidIcon
      +inboxInSolidIcon
      +inboxSolidIcon
      +informationCircleSolidIcon
      +keySolidIcon
      +librarySolidIcon
      +lightBulbSolidIcon
      +lightningBoltSolidIcon
      +linkSolidIcon
      +locationMarkerSolidIcon
      +lockClosedSolidIcon
      +lockOpenSolidIcon
      +loginSolidIcon
      +logoutSolidIcon
      +mailOpenSolidIcon
      +mailSolidIcon
      +mapSolidIcon
      +menuAlt_1SolidIcon
      +menuAlt_2SolidIcon
      +menuAlt_3SolidIcon
      +menuAlt_4SolidIcon
      +menuSolidIcon
      +microphoneSolidIcon
      +minusCircleSolidIcon
      +minusSmSolidIcon
      +minusSolidIcon
      +moonSolidIcon
      +musicNoteSolidIcon
      +newspaperSolidIcon
      +officeBuildingSolidIcon
      +paperAirplaneSolidIcon
      +paperClipSolidIcon
      +pauseSolidIcon
      +pencilAltSolidIcon
      +pencilSolidIcon
      +phoneIncomingSolidIcon
      +phoneMissedCallSolidIcon
      +phoneOutgoingSolidIcon
      +phoneSolidIcon
      +photographSolidIcon
      +playSolidIcon
      +plusCircleSolidIcon
      +plusSmSolidIcon
      +plusSolidIcon
      +presentationChartBarSolidIcon
      +presentationChartLineSolidIcon
      +printerSolidIcon
      +puzzleSolidIcon
      +qrcodeSolidIcon
      +questionMarkCircleSolidIcon
      +receiptRefundSolidIcon
      +receiptTaxSolidIcon
      +refreshSolidIcon
      +replySolidIcon
      +rewindSolidIcon
      +rssSolidIcon
      +saveAsSolidIcon
      +saveSolidIcon
      +scaleSolidIcon
      +scissorsSolidIcon
      +searchCircleSolidIcon
      +searchSolidIcon
      +selectorSolidIcon
      +serverSolidIcon
      +shareSolidIcon
      +shieldCheckSolidIcon
      +shieldExclamationSolidIcon
      +shoppingBagSolidIcon
      +shoppingCartSolidIcon
      +sortAscendingSolidIcon
      +sortDescendingSolidIcon
      +sparklesSolidIcon
      +speakerphoneSolidIcon
      +starSolidIcon
      +statusOfflineSolidIcon
      +statusOnlineSolidIcon
      +stopSolidIcon
      +sunSolidIcon
      +supportSolidIcon
      +switchHorizontalSolidIcon
      +switchVerticalSolidIcon
      +tableSolidIcon
      +tagSolidIcon
      +templateSolidIcon
      +terminalSolidIcon
      +thumbDownSolidIcon
      +thumbUpSolidIcon
      +ticketSolidIcon
      +translateSolidIcon
      +trashSolidIcon
      +trendingDownSolidIcon
      +trendingUpSolidIcon
      +truckSolidIcon
      +uploadSolidIcon
      +userAddSolidIcon
      +userCircleSolidIcon
      +userGroupSolidIcon
      +userRemoveSolidIcon
      +userSolidIcon
      +usersSolidIcon
      +variableSolidIcon
      +videoCameraSolidIcon
      +viewBoardsSolidIcon
      +viewGridAddSolidIcon
      +viewGridSolidIcon
      +viewListSolidIcon
      +volumeOffSolidIcon
      +volumeUpSolidIcon
      +wifiSolidIcon
      +xCircleSolidIcon
      +xSolidIcon
      +zoomInSolidIcon
      +zoomOutSolidIcon
    +exampleSourceCode.
      +academicCapSolidIcon
      +adjustmentsSolidIcon
      +annotationSolidIcon
      +archiveSolidIcon
      +arrowCircleDownSolidIcon
      +arrowCircleLeftSolidIcon
      +arrowCircleRightSolidIcon
      +arrowCircleUpSolidIcon
      +arrowDownSolidIcon
      +arrowLeftSolidIcon
      +arrowNarrowDownSolidIcon
      +arrowNarrowLeftSolidIcon
      +arrowNarrowRightSolidIcon
      +arrowNarrowUpSolidIcon
      +arrowRightSolidIcon
      +arrowSmDownSolidIcon
      +arrowSmLeftSolidIcon
      +arrowSmRightSolidIcon
      +arrowSmUpSolidIcon
      +arrowUpSolidIcon
      +arrowsExpandSolidIcon
      +atSymbolSolidIcon
      +backspaceSolidIcon
      +badgeCheckSolidIcon
      +banSolidIcon
      +beakerSolidIcon
      +bellSolidIcon
      +bookOpenSolidIcon
      +bookmarkAltSolidIcon
      +bookmarkSolidIcon
      +briefcaseSolidIcon
      +cakeSolidIcon
      +calculatorSolidIcon
      +calendarSolidIcon
      +cameraSolidIcon
      +cashSolidIcon
      +chartBarSolidIcon
      +chartPieSolidIcon
      +chartSquareBarSolidIcon
      +chatAlt_2SolidIcon
      +chatAltSolidIcon
      +chatSolidIcon
      +checkCircleSolidIcon
      +checkSolidIcon
      +chevronDoubleDownSolidIcon
      +chevronDoubleLeftSolidIcon
      +chevronDoubleRightSolidIcon
      +chevronDoubleUpSolidIcon
      +chevronDownSolidIcon
      +chevronLeftSolidIcon
      +chevronRightSolidIcon
      +chevronUpSolidIcon
      +chipSolidIcon
      +clipboardCheckSolidIcon
      +clipboardCopySolidIcon
      +clipboardListSolidIcon
      +clipboardSolidIcon
      +clockSolidIcon
      +cloudDownloadSolidIcon
      +cloudUploadSolidIcon
      +cloudSolidIcon
      +codeSolidIcon
      +cogSolidIcon
      +collectionSolidIcon
      +colorSwatchSolidIcon
      +creditCardSolidIcon
      +cubeTransparentSolidIcon
      +cubeSolidIcon
      +currencyBangladeshiSolidIcon
      +currencyDollarSolidIcon
      +currencyEuroSolidIcon
      +currencyPoundSolidIcon
      +currencyRupeeSolidIcon
      +currencyYenSolidIcon
      +cursorClickSolidIcon
      +databaseSolidIcon
      +desktopComputerSolidIcon
      +deviceMobileSolidIcon
      +deviceTabletSolidIcon
      +documentAddSolidIcon
      +documentDownloadSolidIcon
      +documentDuplicateSolidIcon
      +documentRemoveSolidIcon
      +documentReportSolidIcon
      +documentSearchSolidIcon
      +documentTextSolidIcon
      +documentSolidIcon
      +dotsCircleHorizontalSolidIcon
      +dotsHorizontalSolidIcon
      +dotsVerticalSolidIcon
      +downloadSolidIcon
      +duplicateSolidIcon
      +emojiHappySolidIcon
      +emojiSadSolidIcon
      +exclamationCircleSolidIcon
      +exclamationSolidIcon
      +externalLinkSolidIcon
      +eyeOffSolidIcon
      +eyeSolidIcon
      +fastForwardSolidIcon
      +filmSolidIcon
      +filterSolidIcon
      +fingerPrintSolidIcon
      +fireSolidIcon
      +flagSolidIcon
      +folderAddSolidIcon
      +folderDownloadSolidIcon
      +folderOpenSolidIcon
      +folderRemoveSolidIcon
      +folderSolidIcon
      +giftSolidIcon
      +globeAltSolidIcon
      +globeSolidIcon
      +handSolidIcon
      +hashtagSolidIcon
      +heartSolidIcon
      +homeSolidIcon
      +identificationSolidIcon
      +inboxInSolidIcon
      +inboxSolidIcon
      +informationCircleSolidIcon
      +keySolidIcon
      +librarySolidIcon
      +lightBulbSolidIcon
      +lightningBoltSolidIcon
      +linkSolidIcon
      +locationMarkerSolidIcon
      +lockClosedSolidIcon
      +lockOpenSolidIcon
      +loginSolidIcon
      +logoutSolidIcon
      +mailOpenSolidIcon
      +mailSolidIcon
      +mapSolidIcon
      +menuAlt_1SolidIcon
      +menuAlt_2SolidIcon
      +menuAlt_3SolidIcon
      +menuAlt_4SolidIcon
      +menuSolidIcon
      +microphoneSolidIcon
      +minusCircleSolidIcon
      +minusSmSolidIcon
      +minusSolidIcon
      +moonSolidIcon
      +musicNoteSolidIcon
      +newspaperSolidIcon
      +officeBuildingSolidIcon
      +paperAirplaneSolidIcon
      +paperClipSolidIcon
      +pauseSolidIcon
      +pencilAltSolidIcon
      +pencilSolidIcon
      +phoneIncomingSolidIcon
      +phoneMissedCallSolidIcon
      +phoneOutgoingSolidIcon
      +phoneSolidIcon
      +photographSolidIcon
      +playSolidIcon
      +plusCircleSolidIcon
      +plusSmSolidIcon
      +plusSolidIcon
      +presentationChartBarSolidIcon
      +presentationChartLineSolidIcon
      +printerSolidIcon
      +puzzleSolidIcon
      +qrcodeSolidIcon
      +questionMarkCircleSolidIcon
      +receiptRefundSolidIcon
      +receiptTaxSolidIcon
      +refreshSolidIcon
      +replySolidIcon
      +rewindSolidIcon
      +rssSolidIcon
      +saveAsSolidIcon
      +saveSolidIcon
      +scaleSolidIcon
      +scissorsSolidIcon
      +searchCircleSolidIcon
      +searchSolidIcon
      +selectorSolidIcon
      +serverSolidIcon
      +shareSolidIcon
      +shieldCheckSolidIcon
      +shieldExclamationSolidIcon
      +shoppingBagSolidIcon
      +shoppingCartSolidIcon
      +sortAscendingSolidIcon
      +sortDescendingSolidIcon
      +sparklesSolidIcon
      +speakerphoneSolidIcon
      +starSolidIcon
      +statusOfflineSolidIcon
      +statusOnlineSolidIcon
      +stopSolidIcon
      +sunSolidIcon
      +supportSolidIcon
      +switchHorizontalSolidIcon
      +switchVerticalSolidIcon
      +tableSolidIcon
      +tagSolidIcon
      +templateSolidIcon
      +terminalSolidIcon
      +thumbDownSolidIcon
      +thumbUpSolidIcon
      +ticketSolidIcon
      +translateSolidIcon
      +trashSolidIcon
      +trendingDownSolidIcon
      +trendingUpSolidIcon
      +truckSolidIcon
      +uploadSolidIcon
      +userAddSolidIcon
      +userCircleSolidIcon
      +userGroupSolidIcon
      +userRemoveSolidIcon
      +userSolidIcon
      +usersSolidIcon
      +variableSolidIcon
      +videoCameraSolidIcon
      +viewBoardsSolidIcon
      +viewGridAddSolidIcon
      +viewGridSolidIcon
      +viewListSolidIcon
      +volumeOffSolidIcon
      +volumeUpSolidIcon
      +wifiSolidIcon
      +xCircleSolidIcon
      +xSolidIcon
      +zoomInSolidIcon
      +zoomOutSolidIcon
+academicCapSolidIcon
      +adjustmentsSolidIcon
      +annotationSolidIcon
      +archiveSolidIcon
      +arrowCircleDownSolidIcon
      +arrowCircleLeftSolidIcon
      +arrowCircleRightSolidIcon
      +arrowCircleUpSolidIcon
      +arrowDownSolidIcon
      +arrowLeftSolidIcon
      +arrowNarrowDownSolidIcon
      +arrowNarrowLeftSolidIcon
      +arrowNarrowRightSolidIcon
      +arrowNarrowUpSolidIcon
      +arrowRightSolidIcon
      +arrowSmDownSolidIcon
      +arrowSmLeftSolidIcon
      +arrowSmRightSolidIcon
      +arrowSmUpSolidIcon
      +arrowUpSolidIcon
      +arrowsExpandSolidIcon
      +atSymbolSolidIcon
      +backspaceSolidIcon
      +badgeCheckSolidIcon
      +banSolidIcon
      +beakerSolidIcon
      +bellSolidIcon
      +bookOpenSolidIcon
      +bookmarkAltSolidIcon
      +bookmarkSolidIcon
      +briefcaseSolidIcon
      +cakeSolidIcon
      +calculatorSolidIcon
      +calendarSolidIcon
      +cameraSolidIcon
      +cashSolidIcon
      +chartBarSolidIcon
      +chartPieSolidIcon
      +chartSquareBarSolidIcon
      +chatAlt_2SolidIcon
      +chatAltSolidIcon
      +chatSolidIcon
      +checkCircleSolidIcon
      +checkSolidIcon
      +chevronDoubleDownSolidIcon
      +chevronDoubleLeftSolidIcon
      +chevronDoubleRightSolidIcon
      +chevronDoubleUpSolidIcon
      +chevronDownSolidIcon
      +chevronLeftSolidIcon
      +chevronRightSolidIcon
      +chevronUpSolidIcon
      +chipSolidIcon
      +clipboardCheckSolidIcon
      +clipboardCopySolidIcon
      +clipboardListSolidIcon
      +clipboardSolidIcon
      +clockSolidIcon
      +cloudDownloadSolidIcon
      +cloudUploadSolidIcon
      +cloudSolidIcon
      +codeSolidIcon
      +cogSolidIcon
      +collectionSolidIcon
      +colorSwatchSolidIcon
      +creditCardSolidIcon
      +cubeTransparentSolidIcon
      +cubeSolidIcon
      +currencyBangladeshiSolidIcon
      +currencyDollarSolidIcon
      +currencyEuroSolidIcon
      +currencyPoundSolidIcon
      +currencyRupeeSolidIcon
      +currencyYenSolidIcon
      +cursorClickSolidIcon
      +databaseSolidIcon
      +desktopComputerSolidIcon
      +deviceMobileSolidIcon
      +deviceTabletSolidIcon
      +documentAddSolidIcon
      +documentDownloadSolidIcon
      +documentDuplicateSolidIcon
      +documentRemoveSolidIcon
      +documentReportSolidIcon
      +documentSearchSolidIcon
      +documentTextSolidIcon
      +documentSolidIcon
      +dotsCircleHorizontalSolidIcon
      +dotsHorizontalSolidIcon
      +dotsVerticalSolidIcon
      +downloadSolidIcon
      +duplicateSolidIcon
      +emojiHappySolidIcon
      +emojiSadSolidIcon
      +exclamationCircleSolidIcon
      +exclamationSolidIcon
      +externalLinkSolidIcon
      +eyeOffSolidIcon
      +eyeSolidIcon
      +fastForwardSolidIcon
      +filmSolidIcon
      +filterSolidIcon
      +fingerPrintSolidIcon
      +fireSolidIcon
      +flagSolidIcon
      +folderAddSolidIcon
      +folderDownloadSolidIcon
      +folderOpenSolidIcon
      +folderRemoveSolidIcon
      +folderSolidIcon
      +giftSolidIcon
      +globeAltSolidIcon
      +globeSolidIcon
      +handSolidIcon
      +hashtagSolidIcon
      +heartSolidIcon
      +homeSolidIcon
      +identificationSolidIcon
      +inboxInSolidIcon
      +inboxSolidIcon
      +informationCircleSolidIcon
      +keySolidIcon
      +librarySolidIcon
      +lightBulbSolidIcon
      +lightningBoltSolidIcon
      +linkSolidIcon
      +locationMarkerSolidIcon
      +lockClosedSolidIcon
      +lockOpenSolidIcon
      +loginSolidIcon
      +logoutSolidIcon
      +mailOpenSolidIcon
      +mailSolidIcon
      +mapSolidIcon
      +menuAlt_1SolidIcon
      +menuAlt_2SolidIcon
      +menuAlt_3SolidIcon
      +menuAlt_4SolidIcon
      +menuSolidIcon
      +microphoneSolidIcon
      +minusCircleSolidIcon
      +minusSmSolidIcon
      +minusSolidIcon
      +moonSolidIcon
      +musicNoteSolidIcon
      +newspaperSolidIcon
      +officeBuildingSolidIcon
      +paperAirplaneSolidIcon
      +paperClipSolidIcon
      +pauseSolidIcon
      +pencilAltSolidIcon
      +pencilSolidIcon
      +phoneIncomingSolidIcon
      +phoneMissedCallSolidIcon
      +phoneOutgoingSolidIcon
      +phoneSolidIcon
      +photographSolidIcon
      +playSolidIcon
      +plusCircleSolidIcon
      +plusSmSolidIcon
      +plusSolidIcon
      +presentationChartBarSolidIcon
      +presentationChartLineSolidIcon
      +printerSolidIcon
      +puzzleSolidIcon
      +qrcodeSolidIcon
      +questionMarkCircleSolidIcon
      +receiptRefundSolidIcon
      +receiptTaxSolidIcon
      +refreshSolidIcon
      +replySolidIcon
      +rewindSolidIcon
      +rssSolidIcon
      +saveAsSolidIcon
      +saveSolidIcon
      +scaleSolidIcon
      +scissorsSolidIcon
      +searchCircleSolidIcon
      +searchSolidIcon
      +selectorSolidIcon
      +serverSolidIcon
      +shareSolidIcon
      +shieldCheckSolidIcon
      +shieldExclamationSolidIcon
      +shoppingBagSolidIcon
      +shoppingCartSolidIcon
      +sortAscendingSolidIcon
      +sortDescendingSolidIcon
      +sparklesSolidIcon
      +speakerphoneSolidIcon
      +starSolidIcon
      +statusOfflineSolidIcon
      +statusOnlineSolidIcon
      +stopSolidIcon
      +sunSolidIcon
      +supportSolidIcon
      +switchHorizontalSolidIcon
      +switchVerticalSolidIcon
      +tableSolidIcon
      +tagSolidIcon
      +templateSolidIcon
      +terminalSolidIcon
      +thumbDownSolidIcon
      +thumbUpSolidIcon
      +ticketSolidIcon
      +translateSolidIcon
      +trashSolidIcon
      +trendingDownSolidIcon
      +trendingUpSolidIcon
      +truckSolidIcon
      +uploadSolidIcon
      +userAddSolidIcon
      +userCircleSolidIcon
      +userGroupSolidIcon
      +userRemoveSolidIcon
      +userSolidIcon
      +usersSolidIcon
      +variableSolidIcon
      +videoCameraSolidIcon
      +viewBoardsSolidIcon
      +viewGridAddSolidIcon
      +viewGridSolidIcon
      +viewListSolidIcon
      +volumeOffSolidIcon
      +volumeUpSolidIcon
      +wifiSolidIcon
      +xCircleSolidIcon
      +xSolidIcon
      +zoomInSolidIcon
      +zoomOutSolidIcon
