include ../_mixins.pug

+section
  +heading2.mb-1.flex.items-center.gap-x-2
    | Menus
    +badge(color="pink") Experimental

  +paragraph.mb-8 Use the menu mixins to create dropdowns and context menus.

  +example.mb-8
    +exampleDisplay
      +menu(hidden=false)
        +menuLink(href="#menuLink1") Menu item 1
        +menuLink(href="#menuLink2") Menu item 2
        +menuLink(href="#menuLink3") Menu item 3
      +menu(hidden=false)
        +menuLink(href="#menuLink4") Menu item 4
        +menuLink(href="#menuLink5" disabled) Menu item 5
        +menuDivider
        +menuHeading Heading
        +menuLink(href="#menuLink6") Menu item 6
        +menuLink(href="#menuLink7") Menu item 7
      
    +exampleSourceCode.
      +menu(hidden=false)
        +menuLink(href="#menuLink1") Menu item 1
        +menuLink(href="#menuLink2") Menu item 2
        +menuLink(href="#menuLink3") Menu item 3
      +menu(hidden=false)
        +menuLink(href="#menuLink4") Menu item 4
        +menuLink(href="#menuLink5" disabled) Menu item 5
        +menuDivider
        +menuHeading Heading
        +menuLink(href="#menuLink6") Menu item 6
        +menuLink(href="#menuLink7") Menu item 7
