include ../_mixins.pug

+section
  +heading2.mb-1 Menu
  +paragraph.mb-8 Use the menu mixins to create dropdowns and context menus.

  +example.mb-8
    +exampleDisplay.flex-col
      +menu
        +menu-item(href="#menu-item") Menu item 1
        +menu-item(href="#menu-item") Menu item 2
        +menu-item(href="#menu-item") Menu item 3
        +menu-divider
        +menu-item(href="#menu-item") Menu item 4
        +menu-item(href="#menu-item") Menu item 5
        +menu-divider
        +menu-heading Heading
        +menu-item(href="#menu-item") Menu item 4
        +menu-item(href="#menu-item") Menu item 5
    +exampleSourceCode.
      +menu
        +menu-item(href="#menu-item") Menu item 1
        +menu-item(href="#menu-item") Menu item 2
        +menu-item(href="#menu-item") Menu item 3
        +menu-divider
        +menu-item(href="#menu-item") Menu item 4
        +menu-item(href="#menu-item") Menu item 5
        +menu-divider
        +menu-heading Heading
        +menu-item(href="#menu-item") Menu item 4
        +menu-item(href="#menu-item") Menu item 5
