include ../_mixins.pug

+section
  +heading2.mb-1 Tables
  +paragraph.mb-8 Use tables...

  +example.mb-8
    +exampleDisplay
      +table
        +thead
          +tr
            +th Time
            +th Patient
            +th Registered by
            +th Service
            +th
        +tbody
          +tr
            +td 09/10-2020・13:37
            +td Claus Christian Malzahn
            +td
              +stack(size=1)
                .font-semibold Alfred Hackensberger
                .font-normal.text-ink-light 2200 Frederiksberg
            +td
              +badge(color="blue") Travel
            +td.text-right
              +dotsHorizontalSolidIcon()
          +tr
            +td 09/10-2020・13:37
            +td Claus Christian Malzahn
            +td
              +stack(size=1)
                .font-semibold Alfred Hackensberger
                .font-normal.text-ink-light 2200 Frederiksberg
            +td
              +badge(color="blue") Travel
            +td.text-right
              +dotsHorizontalSolidIcon()
          +tr
            +td 09/10-2020・13:37
            +td Claus Christian Malzahn
            +td Alfred Hackensberger
            +td
              +badge(color="pink") COVID-19 test
            +td.text-right
              +dotsHorizontalSolidIcon()
