include ../_mixins.pug

+heading2.mb-1 Util
+paragraph.mb-8 Use the utility classes...

+heading3.mb-1 Shadows
+paragraph.mb-8 Use the shadow classes...

+example.mb-8
  +exampleDisplay.flex-col
    div(class="p-4 bg-white rounded-md shadow-sm") shadow-sm
    div(class="p-4 bg-white rounded-md shadow") shadow
    div(class="p-4 bg-white rounded-md shadow-md") shadow-md
    div(class="p-4 bg-white rounded-md shadow-lg") shadow-lg

  +exampleSourceCode.
    div(class="p-4 bg-white rounded-md shadow-sm") shadow-sm
    div(class="p-4 bg-white rounded-md shadow") shadow
    div(class="p-4 bg-white rounded-md shadow-md") shadow-md
    div(class="p-4 bg-white rounded-md shadow-lg") shadow-lg

+heading2.mb-1 Spacings
+paragraph.mb-8 Use the spacing classes...

+example.mb-8
  +exampleDisplay.flex-col
    .w-0.h-4.bg-blue.rounded
    .w-1.h-4.bg-blue.rounded
    .w-2.h-4.bg-blue.rounded
    .w-3.h-4.bg-blue.rounded
    .w-4.h-4.bg-blue.rounded
    .w-5.h-4.bg-blue.rounded
    .w-6.h-4.bg-blue.rounded
    .w-8.h-4.bg-blue.rounded
    .w-12.h-4.bg-blue.rounded
    .w-16.h-4.bg-blue.rounded
    .w-24.h-4.bg-blue.rounded
    .w-32.h-4.bg-blue.rounded

  +exampleSourceCode.
    .w-0.h-4.bg-blue.rounded
    .w-1.h-4.bg-blue.rounded
    .w-2.h-4.bg-blue.rounded
    .w-3.h-4.bg-blue.rounded
    .w-4.h-4.bg-blue.rounded
    .w-5.h-4.bg-blue.rounded
    .w-6.h-4.bg-blue.rounded
    .w-8.h-4.bg-blue.rounded
    .w-12.h-4.bg-blue.rounded
    .w-16.h-4.bg-blue.rounded
    .w-24.h-4.bg-blue.rounded
    .w-32.h-4.bg-blue.rounded
